.content {
  padding: 50px;
  overflow: auto;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 20 20;
}

#image {
  margin-right: 5%;
  float: left;
  margin-top: 50px;
  max-width: 100px;
}

#details {
  border: 2px solid rgb(167, 160, 160);
  border-radius: 2px;
  float: left;
  align-items: center;
  height: 80%;
  max-width: 200px;
  margin-left: 20px;
}
#about {
  /* width: 50%; */
  padding: 5px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 80%;
  display: inline-block;
  border: 2px solid rgb(167, 160, 160);
  max-width: 500px;
  border-radius: 2px;
  /* float: inline-start; */
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
}
th {
  background-color: rgb(107, 188, 241);
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}
table {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 100%;
  padding: 5px;
}
td {
  text-align: center;
}
nav {
  margin-top: 20px;
  margin-left: 85%;
  width: 150px;
  display: block;
  padding: 5px 20px;
  border-top-style: solid;
  background-color: rgb(134, 125, 125);
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
i {
  padding: 2px;
}
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(138, 130, 130);
  width: 40%;
  color: #fff;
  margin-top: 50px;
  padding-left: 20px;
  border-radius: 2px;
}
