body {
  background-color: rgb(181, 226, 226);
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 5%;
  background-color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  width: 85%;
  margin-right: 20px;
  margin-left: 5%;
  border: 0px;
}
#left {
  width: 200px;
  height: 200px;
  margin-left: 5%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4erFj4IvTUKf5UoxExxiZt_36gSEJLI3mo2JsuyfLuTgdO_8V");
  background-size: cover;
  margin-top: 30%;
  padding: 0px;
}
#right {
  margin-top: 40px;

  width: 300px;
}
#middle {
  margin-top: 30px;
  text-align: justify;
  padding: 10px;
  margin: 5px;
  width: 400px;
}
th {
  background-color: rgb(118, 171, 233);
  padding: 2px;
  width: auto;
}
table {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.data,
h4 {
  display: inline-block;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}
h4 {
  background-color: rgb(91, 186, 241);
}
li {
  padding: 5px;
}

ul {
  list-style: none;
  border: none;
  margin: 0px;
  padding: 0px;
}
nav {
  margin-top: 20px;
  margin-left: 85%;
  width: 150px;
  display: block;
  padding: 5px 20px;
  border-top-style: solid;
  background-color: rgb(134, 125, 125);
}
i {
  padding: 2px;
}

#profile {
  position: absolute;
  font-size: 50px;
  color: #048af8;
  padding: 0px;
  margin-top: 10%;
  margin-right: 0px;
}
